* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin: 3%;
}
.image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.flex {
  margin: 0;
  padding: 0;
  display: flex;
}
.flex-direction {
  flex-direction: column;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: center;
}
.link {
  text-decoration: none;
  color: #000;
}
.App {
  display: flex;
  flex-direction: column;
  margin: 1% 3%;
}
.align-items-center {
  align-items: center;
}
.card {
  margin: 2% 2%;
  width: 100%;
  /* display: flex; */
  /* align-items: center;  */
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  transition: box-shadow 0.5s, transform 0.5s;
  /* padding: 5ppx; */
  /* text-align: center; */
}
.text {
  padding: 5px 10px;
}

.card:hover {
  /* width: 102%; */
  transform: translateY(-5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  border: 5px solid #000000;
  border-bottom-color: #b9b9b9;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 986px) {
  .flex-direction {
    flex-direction: column;
  }
  .image {
    height: 30vh;
    width: 80vw;
    object-fit: cover;
  }
}

body {

  margin : 0;
  padding : 0;
  font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smooting : grayscale;

  background: linear-gradient(
    to left,

    rgb(195, 209, 247)0%,
    rgba(227, 231, 191, 0.321)100%
  );
  text-align: center;
}

.app-title {

  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 76px;
  color: #101212;
  font-family: 'Bigelow Rules', cursive;

}